<html ng-app="Prowl">
	<head>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="main.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script src='//cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
		<script src='//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
		<script src="main.js"></script>
		<title>Leaderboard</title>
	</head>
	<body>
		<div class='content masthead'>
			<img class='img-center' src='img/board.png'/>
			<h1 class='text-center' ng-controller='ConfigController'>Product Owner Leaderboard: Sprint {{data.currentSprint}}</h1>
			<div id='leaderboard' ng-controller="ProwlController" ng-init="buildBoard()">
				
				<div ng-repeat="project in projects" class='entry'>
					<div class='profile-img {{project.gender}}'></div>
					<div class='profile-score'>{{project.points}}</div>
					<div class='profile-name'>{{project.po}}</div>
					<div class='profile-project'>({{project.name}})</div>
				</div>
				
			</div>
		</div>
		<div ng-controller="ProwlController">
			<div class='content block1'>
				<h2 class='text-center'>Current Sprint Events</h2>
				<h4 class='alt-text-3'>What's the haps?</h4>
				<div id="messages">
					<div ng-repeat="msg in messages" data-ng-class="{entryOdd: !($index%2), entryEven: ($index%2)}">
						<div class='logEntry'><b>{{msg.productOwner}}</b> {{msg.type}} {{msg.project}}.</div>
					</div>
				</div>
			</div>

			<div class='content block2'>
			<h2 class='text-center'>Add a Sprint Event</h2>
			<h4 class='alt-text-2'>Keep track when something happens</h4>
				<div class='pure-form pure-form-stacked'>
					

					<label for="project">Which project was it?</label>
					<select id="project" ng-options="project as project.name for project in projects" ng-change="updateForm()" ng-model="project"></select>

					<label for="incident">What did <span ng-bind="project.po"></span> do?</label>
					<select id="incident" ng-options="incident as incident.name for incident in incidents" ng-model="incident"></select>
				
					<button class="pure-button pure-button-primary" ng-click="addMessage($event)">Add event</button>
				</div>

			</div>
		</div>
	</body>
</html>