

.content
{
	padding: 3em 9em 3em 9em;
	min-width: 575px;
}

#leaderboard .entry
{
	padding: 10px;
	background: #e9e8e4;
	margin: 0px 0px 5px 0px;
	color:#697282;
	overflow: hidden;
}

.female
{
	background: url(img/girl.png);
}

.male
{
	background: url(img/guy.png);
}

.profile-img
{
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.profile-name
{
	line-height: 32px;
	font-size: 1.3em;
	height: 1em;
	font-weight: 100;
	float: left;
	margin-right: 10px;
}

.profile-project
{
	font-style: italic;
	line-height: 32px;
	color: #80c3a8;
}

.profile-score
{
	height: 32px;
	float: right;
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	font-weight: 900;
}

.entryEven
{
	background-color: rgba(239,201,76, 0.5);
}

.entryOdd
{
	background-color: rgba(239,201,76, 0.2);
}

h2, h4
{
	font-weight: 100;
}

h4
{
	text-align: center;
	margin-top: -20px;
}

.text-center
{
	text-align: center;
}

.img-center
{
	display: block;
	margin: 0 auto;
}

.masthead
{
	background-color: #3a414c;
	color: #fff;
}

.masthead h1
{
	font-weight: 100;
}

.alt-text-1
{
	color: #80c3a8;
}

.alt-text-2
{
	color: #0078e7;
}

.alt-text-3
{
	color: rgb(239,201,76);
}

.block1
{
	background-color: #f1f0ec;
}

.block2
{
	background-color: #e9e8e4;
}

.logEntry
{
	padding: 1em 1em 1em 1em;
}

select
{
	height: 30px;
	margin-bottom: 25px !important;
}